.education{
    color: #7513dd;
}

.work{
    color: rgb(239, 198, 255);
}

.skills{
    color: rgb(218, 32, 203);
}

.contactme{
    color: #e573b1;
}

.icons{
    color: #ff143b;
}

.video{
    color: hwb(225 46% 0%);
    text-align: center;
}

.toptag{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.toptag:hover{
    background-color: #dbdada;
}

.toptag:visited{
    color: #6abba3;
}

.nametitle{
    color: #1f8359;
}

.abouttitle{
    color: #7ddaf4;
}

.homepics{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.homecaptions{
    text-align: center;
    color: #02000d;
}

.picturestitle{
    text-align: center;
    color: hsl(207, 59%, 57%);
}

.background{
    background-color: #ebffd9;
}

.vidformat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.background2{
    background-color: rgb(217, 217, 217);
}

.resumetitle{
    text-align: center;
}